<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h1 class="display-4">Welcome to My Portfolio</h1>
      <p class="lead">I am a passionate web developer based in Memphis, Tennessee. Currently pursuing a Computer Science degree at the University of Memphis, my expertise lies in building web applications using the Django framework and managing databases with SQLite.</p>
      <p class="lead">With a strong foundation in front-end technologies like HTML, CSS, and JavaScript, I deliver dynamic and responsive websites tailored to meet client needs. I am committed to continuous learning and adapting to new technologies to provide innovative solutions in the evolving field of web development.</p>
    </div>
  </div>
</div>

<style>
  h1.display-4 {
    color: #007bff;
  }

  p.lead {
    font-size: 1.25rem;
    margin-top: 20px;
  }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
